@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "TextBox";
}
@section head{
    <link href="~/Content/myStyleSheet.css" rel="stylesheet" />}
@section banner{
    <span style="font-size:xx-large"><strong>TextBoxes</strong></span>}
<div>
    <p>TextBoxes Page Body</p>
</div>
@section footer{
    <p>&copy CPSC1517, Nait Today's date is @DateTime.Today.ToLongDateString().</p> }


